<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>TubeLite Streaming Video HTML Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="TubeLite is - Professional A unique and beautiful collection of UI elements">
    <link rel="icon" href="assets/images/favicon.png">

    <!-- CSS 
    ================================================== -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/night-mode.css">
    <link rel="stylesheet" href="assets/css/framework.css">

    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="assets/css/icons.css">

    <!-- Google font
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

</head>


<body>

    <!-- Wrapper -->
    <div id="wrapper" class="collapse-sidebar">

        <!-- sidebar -->
        <div th:replace="commons/bar::sidebar"></div>

        <!-- header -->
        <div th:replace="commons/bar::header"></div>

        <!-- contents -->
        <div class="main_content">

            <div class="bg-gradient-primary uk-height-small uk-position-absolute uk-width-1-1"></div>
            <div class="main_content_inner">

                <div class="section-small text-center uk-light">
                    <h1> account Setting </h1>
                </div>

                <div class="m-auto uk-position-relative" uk-grid>
                    <div class="uk-width-1-4@m uk-flex-last@ pl-sm-0">

                        <nav class="responsive-tab style-3 setting-menu"
                            uk-sticky="top:30 ; offset:100; media:@m ;bottom:true; animation: uk-animation-slide-top">
                            <h4 class="mb-0 p-3 uk-visible@m"> Setting Navigation </h4>  <hr class="m-0 uk-visible@m">     
                            <ul>
                                <li class="uk-active"><a href="#"> <i class="uil-cog"></i> General </a></li>
                                <li><a href="#"> <i class="uil-user"></i> Profile </a></li>
                                <li><a href="#"> <i class="uil-usd-circle"></i> Monetization</a></li>
                                <li><a href="#"> <i class="uil-unlock-alt"></i> Password </a></li>
                                <li><a href="#"> <i class="uil-dollar-alt"></i> Earning</a></li>
                                <li><a href="#"> <i class="uil-scenery"></i> Avatar & Cover</a></li>
                                <li><a href="#"> <i class="uil-shield-check"></i> Security</a></li>
                                <li><a href="#"> <i class="uil-bolt"></i> Membarship</a></li>
                                <li><a href="#"> <i class="uil-history"></i> Manage Sessions</a></li>
                                <li><a href="#"> <i class="uil-trash-alt"></i> Delete account</a></li>
                            </ul>
                        </nav>

                    </div>

                    <div class="uk-width-2-3@m mt-sm-3 pl-sm-0">

                        <div class="uk-card-default rounded">
                            <div class="p-3">
                                <h5 class="mb-0"> Contact info </h5>
                            </div>
                            <hr class="m-0">
                            <form class="uk-child-width-1-2@s uk-grid-small p-4" uk-grid>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> First Name </h5>
                                    <input type="text" class="uk-input" placeholder="Your name">
                                </div>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> Seccond Name </h5>
                                    <input type="text" class="uk-input" placeholder="Your seccond">
                                </div>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> Your email address </h5>
                                    <input type="text" class="uk-input" placeholder="eliedaniels@gmail.com">
                                </div>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> Phone </h5>
                                    <input type="text" class="uk-input" placeholder="+1 555 623 568 ">
                                </div>
                            </form>

                            <div class="uk-flex uk-flex-right p-4">
                                <button class="button soft-primary mr-2">Cancle</button>
                                <button class="button primary">Save Changes</button>
                            </div>
                        </div>

                        <div class="uk-card-default rounded mt-4">
                            <div class="p-3">
                                <h5 class="mb-0"> Billing address </h4>
                            </div>
                            <hr class="m-0">
                            <form class="uk-child-width-1-2@s uk-grid-small p-4" uk-grid>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> Number </h5>
                                    <input type="text" class="uk-input" placeholder="23, Block C2 ">
                                </div>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> Street </h5>
                                    <input type="text" class="uk-input" placeholder="Street Number">
                                </div>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> City </h5>
                                    <input type="text" class="uk-input" placeholder="City Name">
                                </div>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> Postal Code </h5>
                                    <input type="text" class="uk-input" placeholder="Postal Code">
                                </div>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> State </h5>
                                    <input type="text" class="uk-input" placeholder="State">
                                </div>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> Country </h5>
                                    <input type="text" class="uk-input" placeholder="Your Country">
                                </div>
                                <div>
                                    <h5 class="uk-text-bold mb-2"> Gender </h5>
                                    <select class="uk-select">
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>

                            </form>
                            <div class="uk-flex uk-flex-right p-4">
                                <button class="button soft-primary mr-2">Cancle</button>
                                <button class="button primary">Save Changes</button>
                            </div>
                        </div>

                    </div>


                </div>

                <!-- footer
               ================================================== -->
                <div class="footer">
                    <div class="uk-grid-collapse" uk-grid>
                        <div class="uk-width-expand@s uk-first-column">
                            <p>© 2020 <strong>TubeLite</strong>. All Rights Reserved. </p>
                        </div>
                        <div class="uk-width-auto@s">
                            <nav class="footer-nav-icon">
                                <ul>
                                    <li><a href="#"><i class="icon-brand-facebook"></i></a></li>
                                    <li><a href="#"><i class="icon-brand-dribbble"></i></a></li>
                                    <li><a href="#"><i class="icon-brand-youtube"></i></a></li>
                                    <li><a href="#"><i class="icon-brand-twitter"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>


    <!-- For Night mode -->
    <script>
        (function (window, document, undefined) {
            'use strict';
            if (!('localStorage' in window)) return;
            var nightMode = localStorage.getItem('gmtNightMode');
            if (nightMode) {
                document.documentElement.className += ' night-mode';
            }
        })(window, document);


        (function (window, document, undefined) {

            'use strict';

            // Feature test
            if (!('localStorage' in window)) return;

            // Get our newly insert toggle
            var nightMode = document.querySelector('#night-mode');
            if (!nightMode) return;

            // When clicked, toggle night mode on or off
            nightMode.addEventListener('click', function (event) {
                event.preventDefault();
                document.documentElement.classList.toggle('night-mode');
                if (document.documentElement.classList.contains('night-mode')) {
                    localStorage.setItem('gmtNightMode', true);
                    return;
                }
                localStorage.removeItem('gmtNightMode');
            }, false);

        })(window, document);
    </script>


    <!-- javaScripts
                ================================================== -->
    <script src="assets/js/framework.js"></script>
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/simplebar.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</a>